section#post-list {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 30px;
}

section#post-list article {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 30px;
}

section#post-list article header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section#post-list article header > img {
  cursor: pointer;
}

section#post-list article header .user-infos {
  display: flex;
  flex-direction: column;
}

section#post-list article header .user-infos span {
  font-size: 13px;
}

section#post-list article header .user-infos span.place {
  font-size: 11px;
  color: #666;
  margin-top: 3px;
}

section#post-list article > img {
  width: 100%;
}

section#post-list footer {
  padding: 20px;
}

section#post-list footer .actions {
  margin-bottom: 12px;
}

section#post-list  footer .actions button {
  background: transparent;
  border: 0;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
section#post-list footer .actions > img {
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

section#post-list footer p {
  font-size: 13px;
  margin-top: 2px;
  line-height: 18px;
}

section#post-list footer span {
  display: block;
  color: rgb(52, 52, 223);
}
